# Configuration file

debug {
}


display {
    # Should I enable colorblind mode?
    B:colorBlindMode=false

    # Should all fluid values (mB, mB/t) be hidden?
    B:hideFluidValues=false

    # Should all power values (RF, RF/t) be hidden?
    B:hidePowerValues=false
}


general {
    # Lower this number if BuildCraft builders/fillers are causing TPS lag. Raise it if you think they are being too slow.
    I:builderMaxIterationsPerItemFactor=1024

    # Should engines explode upon overheat?
    B:canEnginesExplode=false

    # How long, in seconds, should items stay on the ground? (Vanilla = 300, default = 60)
    I:itemLifespan=60

    # Should BuildCraft miners be allowed to break blocks using player-specific protection?
    B:miningBreaksPlayerProtectedBlocks=false

    # Should pumps consume water? Enabling this might cause performance issues!
    B:pumpsConsumeWater=false

    # Should I check the BuildCraft version on startup?
    B:updateCheck=false

    # Allows BuildCraft to use the integrated server's data on the client on singleplayer worlds. Disable if you're getting the odd crash caused by it.
    B:useServerDataOnClient=true
    S:version=7.1.22
}


network {
    # How often, in ticks, should full network sync packets be sent? Increasing this might help network performance.
    I:longUpdateFactor=40

    # How often, in ticks, should network update packets be sent? Increasing this might help network performance.
    I:updateFactor=10
}


power {
    # What should the multiplier of all mining-related power usage be?
    D:miningUsageMultiplier=1.0
}


vars {
    # indicates the last version the user has been informed about and will suppress further notices on it.
    S:version.seen=7.1.23
}


worldgen {
    # Should BuildCraft generate anything in the world?
    B:enable=true

    # Should BuildCraft generate water springs?
    B:generateWaterSprings=true
}


